.promo {
    display: flex;
    flex:  1 1 0;
    max-width: 1440px;
    margin: 0 auto;
    padding: 200px 40px;
    column-gap: 60px;
    @media (max-width:650px) {
        padding: 10px 20px;
    }
}

.promo_content {
    max-width: 700px;
    h1 {
        font-size: 78px;
        font-weight: 300;
        line-height: 1;
        margin-top: 20px;
        margin-left: -5px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    span {
        color: rgb(236, 110, 131);
        font-weight: 400;
        text-transform: lowercase;
    }
    p {
        font-size: 22px;
        font-weight: 200;
    }
}

.promo_hero {

}

@media (max-width:1450px) {
    .promo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 100px;
    }
}

@media (max-width:880px) {
    .promo_content {
        h1 {
            font-size: 58px;
        }
        p {
            font-size: 16px;
        }
    }
}