.btn {
    padding: 10px 50px;
    background-color: rgb(255, 117, 140); ;
    border-radius: 25px;
    color: white;
    font-weight: 300;
    transition: 0.1s ease-in-out;
    &:hover {
        background-color: rgb(250, 72, 101); 
    }
    &:active {
        transform: scale(95%);
    }
}



