.dropdown_menu {
    z-index: 2;
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 0;
    right: 0;
    bottom: 0;
    left: 70%;
    transition: 0.3s ease;
    transform: translateX(0%);
    animation: 0.3s open_btn alternate;
    ul {
      width: 200%;
      position: fixed;
      left: 20%;
      top: 30%;
      color: rgba(0,0,0,.3);
    }
    ul li + li a {
      font-size: 48px;
      color: #000000;
      font-weight: 400;
    }
  }

  .dropdown_menu_close {
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 0;
    right: 0;
    bottom: 0;
    left: 70%;
    transition: .4s ease;
    transform: translateX(100%);
    animation: 0.4s close_btn alternate;
    ul {
      width: 200%;
      position: fixed;
      left: 20%;
      top: 30%;
      color: rgba(0,0,0,.3);
    }
    ul li + li a {
      font-size: 48px;
      color: #000000;
      font-weight: 400;
    }
  }
  
  
  @keyframes open_btn {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }


  .back {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.3s;
    background-color: rgba($color: #000000, $alpha: 0.3);  
    animation: 0.3s back_show alternate-reverse;
    a {
        display: block;
        padding: 55px 0 0 60px;
        top:10%;
        font-weight: 700;
        color: #000000;
        text-transform: lowercase;
        font-size: 24px;
        @media (max-width:650px) {
          display: none;
        }
      }
  }

  .back_close {
    z-index: -100;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: .3s;
    background-color: rgba($color: #000000, $alpha: 0.0);  
    animation: 0.3s back_show alternate;
    a {
        display: block;
        padding: 55px 0 0 60px;
        font-weight: 700;
        opacity: 0.6;
        color: #000000;
        text-transform: lowercase;
        font-size: 24px;
      }
  }

  @keyframes back_show {
    from {
      background-color: rgba($color: #000000, $alpha: .3);
  
    }
    to {
    background-color: rgba($color: #000000, $alpha: .0);
    }
  }

@media (max-width:1400px) {
  .dropdown_menu {
    left: 60%;
  }
}

@media (max-width:1100px) {
  .dropdown_menu {
    left: 50%;
  }
}

@media (max-width:800px) {
  .dropdown_menu {
    left: 40%;
  }
}

@media (max-width:650px) {
  .dropdown_menu {
    left: 30%;
  }
}

@media (max-width:550px) {
  .dropdown_menu {
    left: 0%;
  }
}